<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>基本資料</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
</head>
<body>
    <h3>
    {% for person in persons%}
       <h2>第 {{forloop.counter}} 位員工</h2>
       <ul>
           <li>姓名：{{person.name}}</li>
           <li>手機：{{person.phone}}</li>
           <li>年齡：{{person.age}}</li>
       </ul>
    {% empty %}
       沒有任何資料
    {% endfor %}
    </h3>

    <table style="width:100%">
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
</body>
</html>
